.Gif {
	border: 2px solid steelblue;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	display: flex;
	flex-direction: column;
	/* width: 95%; */
	/* width: 60px; */
}

.gif-link {
	color: #eee;
	display: block;
	text-decoration: none;
	position: relative;
	width: 100%;
}

.Gif h5 {
	margin: 5px 0px 10px 0px;
}

.Gif img {
	object-fit: contain;
	object-fit: contain;
	vertical-align: top;
	width: 100%;
}

.gif-container {
	width: 100%;
}

/* @media screen and (max-width: 750px) {
	.gif-container {
		width: 80%;
	}
} */
