.Gif{
	border: 2px solid steelblue;
	border-radius: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	width: 95%;
	/* width: 60px; */
}

.Gif h5 {
	margin: 5px 0px 20px 0px;
}

.Gif  img {
	object-fit: contain;
}